{% extends 'layout.html.twig' %}
{% block body %}
    <section class="section db p120">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tagline-message page-title text-center">
                        <h3>A Propos de nous !</h3>
                        <ul class="breadcrumb">
                            <li><a href="javascript:void(0)">SANT’ARTS BUSINESS</a></li>
                            <li class="active">A propos</li>
                        </ul>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->


{% endblock %}